/* stylesheet for DemoSite03_StudyWeb */

/* global settings */
/* ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ */

/* charset */
@charset "UTF-8";

/* import font-family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

/* variable definition */
:root {
    /* font-color */
    --font-color-default: rgb(0, 0, 0);
    --font-color-link-primary: rgb(0, 0, 0);
    --font-color-link-secondary: rgb(100, 100, 100);
    --font-color-pageTitle: rgb(255, 255, 255);
    /* outline-color */
    --outline-color-focus: rgba(0, 0, 255, .7);
    /* border-color */
    --border-color-primary: rgb(0, 0, 0);
    --border-color-secondary: rgb(209, 58, 176);
    /* shadow-color */
    --shadow-color-dark: rgba(0, 0, 0, .7);
    /* background-color */
    --background-color-primary: rgb(255, 255, 255);
    --background-color-secondary: rgb(248, 234, 234);
    --background-color-pageHeader: rgb(255, 255, 255);
    --background-color-sideMenu: rgb(255, 245, 245);
    --background-color-pageFooter: rgb(255, 255, 255);
    --background-color-button-primary: rgba(255, 255, 255, .6);
    --background-color-button-active: rgba(101, 206, 238, 0.6);
    /* line-height */
    --line-height-default: 1.8;
    /* size, length, width, or height */
    --width-contentsMaxWidth: 1080px;
    --width-sidePadding: 2rem;
    --height-pageHeader: 4rem;
    --width-sideMenu: 100vw;
    /* others */
    --opacity-hover: .6;
    --transition-duration-link-opacity: .2s;
}

/* basic settings */
body {
    font-size: inherit;
    font-family: 'Noto Serif JP', serif;
    line-height: var(--line-height-default);
    color: var(--font-color-default);
    background: var(--background-color-primary);
}

/* link */
a {
    color: var(--font-color-link-primary);
}
a,
a *:not(img) {    
    transition: opacity var(--transition-duration-link-opacity) ease;
}
a:hover,
a:hover * {
    opacity: var(--opacity-hover);
}

/* focus */
*:focus-visible {
    outline: auto var(--outline-color-focus);
}

/* img */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* table */
th {
    font-weight: inherit;
}

/* max width of contents */
.contentsMaxWidth {
    max-width: var(--width-contentsMaxWidth);
    margin: 0 auto;
}

/* side padding for narrow screen */
.contentsSidePadding {
    padding: 0 var(--width-sidePadding);
}
@media screen and (min-width: 1080px) {

    .contentsSidePadding {
        padding: 0 max(0px, calc(var(--width-sidePadding) - (100vw - 1080px) / 2));
    }
}

/* animation */
/* -------------------------------------------- */

/* underline */
.animation-underline {
    position: relative;
}
.animation-underline::after {
    position: absolute;
    bottom: -1px;
    left: -1px;
    display: block;
    content: '';
    width: 0;
    height: 1px;
    background: var(--border-color-secondary);
    transition: width .2s ease;
}
.animation-underline:hover::after {
    width: calc(100% + 1px);
}

/* button */
.animation-button-outer {
    position: relative;
    background: var(--background-color-button-primary);
    border-top: solid 1px var(--border-color-primary);
    border-bottom: solid 1px var(--border-color-primary);
}
.animation-button-outer::before,
.animation-button-outer::after,
.animation-button-outer .animation-button-inner::before,
.animation-button-outer .animation-button-inner::after {
    position: absolute;
    display: block;
    content: '';
    background: var(--border-color-primary);
}
.animation-button-outer::before,
.animation-button-outer::after {
    width: 0;
    height: 1px;
}
.animation-button-outer .animation-button-inner::before,
.animation-button-outer .animation-button-inner::after {
    width: 1px;
    height: calc(100% + 2px);
}
.animation-button-outer::before,
.animation-button-outer .animation-button-inner::before {
    top: -1px;
    right: -1px;
}
.animation-button-outer::after,
.animation-button-outer .animation-button-inner::after {
    bottom: -1px;
    left: -1px;
}
.animation-button-outer:hover {
    border: none;
}
.animation-button-outer:hover::before,
.animation-button-outer:hover::after {
    width: calc(100% + 2px);
    transition: all .4s ease-in;
}
.animation-button-outer:hover .animation-button-inner::before,
.animation-button-outer:hover .animation-button-inner::after {
    height: 0;
    transition: all .3s ease-out;
}



/* page header */
/* ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ */

/* basic design */
/* -------------------------------------------- */

/* pageHeader itself */
#pageHeader {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: var(--height-pageHeader);
    padding: 0 calc(var(--width-sidePadding) / 2);
    background: var(--background-color-pageHeader);
}
#pageHeader .flex-pageHeader {
    height: 100%;
    display: flex;
    justify-content: center;
}

/* company logo */
#pageHeader .companyLogo {
    align-self: center;
}
#pageHeader .companyLogo img {
    width: auto;
    height: calc(var(--height-pageHeader) * .8);
}

/* side menu button */
#pageHeader #sideMenuButton {
    position: absolute;
    top: calc((var(--height-pageHeader) - 2em) / 2); /* calc((ページヘッダの高さ - ボタンの高さ) / 2) */
    left: calc(var(--width-sidePadding) / 2);
    width: 3em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--border-color-primary);
    border-bottom: solid 1px var(--border-color-primary);
    background: var(--background-color-button-primary);
    transition: background-color .3s ease;
}
#pageHeader #sideMenuButton:active {
    background: var(--background-color-button-active);
}
#pageHeader #sideMenuButton .sideMenuButtonLetter {
    font-size: .7rem;
}
#pageHeader #sideMenuButton:not(.open) .sideMenuButtonLetter::before {
    content: "MENU";
}
#pageHeader #sideMenuButton.open .sideMenuButtonLetter::before {
    content: "CLOSE";
}

/* global nav */
#pageHeader .globalNav {
    display: none;
    align-self: flex-end;
    margin: 0 0 .5em;
}
#pageHeader .globalNav .parent-ul {
    display: flex;
    /* gap: 2em; */
}
#pageHeader .globalNav .parent-ul .parent-li {
    position: relative;
    z-index: 21;
}
#pageHeader .globalNav .parent-ul .parent-li:not(:last-child) {
    margin: 0 2em 0 0;
}
#pageHeader .globalNav .parent-ul .parent-li .child-ul {
    position: absolute;
    left: -1em;
    display: none;
    width: 7.5em;
    padding: 1em 1.5em 1em;
    background-color: var(--background-color-pageHeader);
}
#pageHeader .globalNav .parent-ul .parent-li:hover .child-ul {
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
}
#pageHeader .globalNav .parent-ul .parent-li .child-ul .child-li:not(:last-child) {
    margin: 0 0 1em;
}

/* global nav's animation */
#pageHeader .globalNav a {
    z-index: 21;
}
#pageHeader .globalNav a:hover {
    opacity: 1;
}


/* for wide screen */
/* -------------------------------------------- */

@media screen and (min-width: 900px) {

    /* page header itself */
    #pageHeader .flex-pageHeader {
        justify-content: space-between;
    }

    /* side menu button */
    #pageHeader #sideMenuButton {
        display: none;
    }

    /* global nav */
    #pageHeader .globalNav {
        display: block;
    }
}


/* side menu */
/* ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ */

/* basic design */
/* -------------------------------------------- */

/* side menu itself */
#sideMenu {
    position: fixed;
    z-index: 30;
    top: var(--height-pageHeader);
    left: calc(var(--width-sideMenu) * -1);
    bottom: 0;
    width: var(--width-sideMenu);
    background: var(--background-color-sideMenu);
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    transition: left .3s ease-out, visibility 0s ease .3s;
}
#sideMenu.open {
    left: 0;
    visibility: visible;
    transition-delay: 0s;
}

/* global menu */
#sideMenu .globalNav .parent-ul {
    margin: 3em 0 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2.5em; */
    font-size: 1.2rem;
}
#sideMenu .globalNav .parent-ul .parent-li:not(:last-child) {
    margin: 0 0 2.5em;
}
#sideMenu .globalNav .parent-ul .parent-li span {
    color: var(--font-color-link-primary);
    transition: opacity var(--transition-duration-link-opacity) ease;
}
#sideMenu .globalNav .parent-ul .parent-li span:hover {
    cursor: pointer;
    opacity: var(--opacity-hover);
}
#sideMenu .globalNav .parent-ul .parent-li span:focus:not(:focus-visible) {
    outline: none;
}
#sideMenu .globalNav .parent-ul .parent-li span::before {
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
    padding: 0 .3em 0 0;
}
#sideMenu .globalNav .parent-ul .parent-li:not(.open) span::before {
    content: "\f0da";
}
#sideMenu .globalNav .parent-ul .parent-li.open span::before {
    content: "\f0d7";
}
#sideMenu .globalNav .parent-ul .parent-li .child-ul {
    margin: 1em 0 0 1.5em;
    display: flex;
    flex-direction: column;
    /* gap: .5em; */
    font-size: 1rem;
}
#sideMenu .globalNav .parent-ul .parent-li .child-ul .child-li:not(:last-child) {
    margin: 0 0 .5em;
}
#sideMenu .globalNav .parent-ul .parent-li:not(.open) .child-ul {
    display: none;
}

/* for wide screen */
/* -------------------------------------------- */

@media screen and (min-width: 900px) {

    #sideMenu {
        display: none;
    }
}


/* page footer */
/* ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ */

/* basic design */
/* -------------------------------------------- */

/* page footer itself */
#pageFooter {
    padding: 0 0 3em;
    padding-top: max(2em, min(5vw, 5em));
    background: var(--background-color-pageFooter);
}

/* company logo */
#pageFooter .companyLogo {
    width: 12rem;
    margin: 0 0 2em;
}

/* address */
#pageFooter address {
    margin: 2em 0;
    font-size: .9rem;
}

/* footer nav */
#pageFooter .footerNav {
    display: none;
    margin: 0 2em;
}
#pageFooter .footerNav ul {
    display: flex;
    justify-content: center;
    font-size: .9rem;
}
#pageFooter .footerNav ul li:first-child::before,
#pageFooter .footerNav ul li::after {
    content: "|";
    padding: 0 1em;
}

/* copyright */
#pageFooter #copyright {
    margin: 3em 0 0;
    font-size: .9rem;
    text-align: center;
}

/* for wide screen */
/* -------------------------------------------- */

@media screen and (min-width: 800px) {

    #pageFooter .footerNav {
        display: block;
    }
}


/* page main */
/* ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ */

/* common */
/* ============================================ */

/* basic design */
/* -------------------------------------------- */

/* page main itself */
#pageMain {
    margin: var(--height-pageHeader) 0 0;
}

/* article header */
#pageMain .articleHeader {
    width: 100%;
    height: 30vw;
    min-height: 10em;
    max-height: 30em;
    background: url(../images/product/background-img_1920_1315.jpg) center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* page title */
#pageMain .pageTitle {
    font-size: max(1.5rem, min(4vw, 3rem));
    color: var(--font-color-pageTitle);
    text-shadow: 1px 1px var(--shadow-color-dark);
}

/* breadcrumbs */
#pageMain .breadcrumbs {
    padding: .5em calc(var(--width-sidePadding) / 2);
}
#pageMain .breadcrumbs ul {
    display: flex;
    /* gap: .5em; */
    font-size: .9rem;
}
#pageMain .breadcrumbs a {
    color: var(--font-color-link-secondary);
}
#pageMain .breadcrumbs ul li:not(:last-child)::after {
    content: ">";
    margin: 0 .5em;
}

/* article */
#pageMain .flex-articleBody {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

/* bicolor section */
#pageMain .bicolorSection {
    padding: 4em 0 6em;
}
#pageMain .bicolorSection:nth-child(2n) {
    background: var(--background-color-secondary);
}
#pageMain .bicolorSection .bicolorSectionHeading {
    margin: 0 0 2em;
    font-size: max(1.5rem, min(3.5vw, 2rem));
    text-align: center;
}
#pageMain .bicolorSection .flex-section {
    display: flex;
    flex-direction: column;
}

/* product page */
/* ============================================ */

/* basic design */
/* -------------------------------------------- */

/* section each product */
.page-product #pageMain .section-eachProduct {
    display: flex;
    flex-direction: column;
}
.page-product #pageMain .section-eachProduct:not(:last-child) {
    margin: 0 0 5em;
}
.page-product #pageMain .section-eachProduct img {
    order: 0;
}
.page-product #pageMain .section-eachProduct h3 {
    order: 1;
    font-size: 1.3rem;
    margin: 1em 0;
}
.page-product #pageMain .section-eachProduct p {
    order: 2;
}
.page-product #pageMain .section-eachProduct button {
    order: 3;
    margin: 4em 1em 0;
}

/* more detail button */
.page-product #pageMain .moreDetailButton {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 12em;
    max-width: 20em;
    height: 4em;
}
.page-product #pageMain .moreDetailButton .fa-external-link-alt {
    position: absolute;
    right: 1em;
}


/* for wide screen */
/* -------------------------------------------- */

@media screen and (min-width: 500px) {

    /* article section */
    .page-product #pageMain .bicolorSection .flex-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: max(2em, min(5vw, 4em));
    }

    /* section each product */
    .page-product #pageMain .section-eachProduct {
        margin: 0 0 3em;
    }
}

@media screen and (min-width: 800px) {

    /* productCategory1 */
    .page-product #pageMain #productCategory1 .flex-section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 2em;
    }
}


/* about us page */
/* ============================================ */

/* basic design */
/* -------------------------------------------- */

/* section greeting */
.page-aboutUs #pageMain #aboutUsGreeting p:first-of-type {
    margin-top: 3em;
}
.page-aboutUs #pageMain #aboutUsGreeting p:last-of-type {
    margin-bottom: 3em;
}
.page-aboutUs #pageMain #aboutUsGreeting .signature-president {
    align-self: flex-end;
    text-align: right;
}
.page-aboutUs #pageMain #aboutUsGreeting .signature-president img {
    display: inline-block;
    width: 5em;
    margin: 2em 0 0;
}

/* googleMap */
.page-aboutUs #pageMain .googleMap {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: calc(100% / 1080 * 600) 0 0; /* calc(100% / iframeの幅 + iframeの高さ) */
}
.page-aboutUs #pageMain .googleMap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* section each store */
.page-aboutUs #pageMain .section-eachStore {
    display: flex;
    flex-direction: column;
}
.page-aboutUs #pageMain .section-eachStore:not(:last-child) {
    margin: 0 0 5em;
}
.page-aboutUs #pageMain .section-eachStore img {
    order: 0;
    margin: 0 0 1em;
}
.page-aboutUs #pageMain .section-eachStore h3 {
    order: 1;
    font-size: 1.2rem;
}
.page-aboutUs #pageMain .section-eachStore table {
    order: 2;
    margin: 1em 0 0;
}
